@import "~bootstrap/scss/bootstrap";

body {
  background-color: #ff6d69;
  margin: 50px;
}

.sign-up-style {
  padding: 30px;
}

.unauthenticated {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authenticated {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authenticated-buttons {
  padding: 30px;
}

#message {
  font-family: cafeandbrewery;
}

#signup-message {
  font-family: cafeandbrewery;
}

#games-text {
  font-family: cafeandbrewery;
}
//Find a way to group the three styles above.
#current-player {
  font-family: cafeandbrewery;
  padding: 10px;
}

//Rule for using local fonts. So far only woff support, look into other formats.
@font-face {
  font-family: "TheAnthelope";
  src: url("public/TheAnthelope.woff") format("woff"),
    url("public/TheAnthelope.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cafbrewery";
  src: url("public/cafbrewery.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cafeandbrewery";
  src: url("public/cafeandbrewery.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: TheAnthelope;
  font-size: 72px;
  color: #fecc50;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #1e0521;
}

.unauthenticated-style {
  padding: 10px;
}

button {
  border-radius: 25px;
  background-color: #fecc50;
  color: #1e0521;
  font-size: 20px;
  font-family: TheAnthelope;
}

button:hover {
  color: #ff6d69;
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

input {
  border-radius: 10px;
  color: #1e0521;
  font-family: cafeandbrewery;
  font-size: 12px;
  text-align: center;
}

.container {
  padding: 10px;
}

.col-4 {
  display: flex;
  justify-content: center;
  font-size: 72px;
  font-family: TheAnthelope;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px#fecc50, 0 0 5px #fecc50;
}

.box {
  display: flex;
  align-items: center;
  border: 2px solid;
  height: 150px;
  width: 50px;
}

$mynewcolor: #fecc50;

.btn-primary {
  @include button-variant(
    $mynewcolor,
    darken($mynewcolor, 7.5%),
    darken($mynewcolor, 10%),
    lighten($mynewcolor, 5%),
    lighten($mynewcolor, 10%),
    darken($mynewcolor, 20%)
  );
}

.btn-outline-primary {
  @include button-outline-variant(
    $mynewcolor,
    #222222,
    lighten($mynewcolor, 5%),
    $mynewcolor
  );
}

.btn {
  border-radius: 25px;
  background-color: #fecc50;
  color: #1e0521;
  font-size: 20px;
  font-family: TheAnthelope;
  margin-top: 10px;
}

.btn-outline-primary:hover {
  color: #ff6d69;
}

.btn-info:focus,
.btn-info.focus {
  color: rgb(0, 0, 0);
  background-color: #fecc50;
  border-color: #fecc50;
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-close {
  border-radius: 25px;
  background-color: #fecc50;
  color: #1e0521;
  font-size: 20px;
  font-family: TheAnthelope;
}
.modal-body {
  font-family: cafeandbrewery;
  font-size: 12px;
}

.modal-header {
  font-family: cafeandbrewery;
  font-size: 12px;
}

footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

//ref https://codepen.io/cybercountess/pen/RwNXxyq
//Only colors were changed in this reference code. Classes were aligned to match which text flickers.

.sign {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #fecc50,
    transparent
  );
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  text-transform: uppercase;
  font-size: 6em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #fecc50, 0 0.5rem 3rem #fecc50;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #fecc50, 0 0.5rem 3rem #fecc50;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #fecc50;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }

  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #fecc50, 0 0.5rem 3rem #fecc50;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.922;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  38% {
    opacity: 0.5;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}

div.col-4.box.select-box {
  border: 2px solid #ffdf8f;
}
